export PATH=$HOME/.local/bin:$PATH:
export WINIT_X11_SCALE_FACTOR=1
# Scr

~/.fehbg  &
#setxkbmap es &
setxkbmap -layout us -variant intl &
xmodmap -e "keycode 135 = less greater less greater bar brokenbar"
#volumeicon&
#picom &
redshift -l 39.47:-0.376 -t 5700:2700 -g 0.8 -m randr -v &
nm-applet &
udiskie -t&

# KDE theme
QT_QPA_PLATFORMTHEME=gtk2
export QT_QPA_PLATFORMTHEME="qt5ct"
